<a href="https://colab.research.google.com/github/Hillarycheserem/ASSIGNMENTS--ENG-219-048-2023/blob/main/CIT_2228_%5B2%5D0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
7>4

True

In [ ]:
9<4

False

In [ ]:
8==9

False

In [ ]:
7<=8

True

IF statements

In [ ]:
#if statements
print("Enter two integers")
#read integers
Number1=int(input('Enter first age'))
#second number
Number2=int(input('Enter second age'))
#comparison
if Number1>Number2:
  print(Number1,'is greater than',Number2)
if Number1<Number2:
  print(Number2,"is greater than",Number1)
if Number1==Number2:
  print(Number1,"is equal to",Number2)

Enter two integers
Enter first age43
Enter second age67
67 is greater than 43

In [ ]:
AGE=int(input('Enter your age:'))
if 18<=AGE<=22:
  print("You are adult ")
if AGE<18:
  print("You are a minor")
if AGE>=23:
  print("Why are you single!!!!")

Enter your age:21
You are adult

Booleans

In [ ]:
AGE=int(input("Enter your age:"))
if AGE>11 and AGE<18:
  print("You are an adolescent")
if AGE==18 or AGE>30:
  print("You are not single")

Enter your age:15
You are an adolescent

In [ ]:
AGE=int(input("Whats your age:"))
if AGE is 18:
 print("YOU ARE ADULT")

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?

Whats your age:18
YOU ARE ADULT

<ipython-input-24-e71c73f9408b>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if AGE is 18:

Statistics

In [ ]:
Numbers=[56,78,90,54,34]
max(Numbers)
len(Numbers)

5

In [ ]:
Number1=int(input("Enter first number:"))
Number2=int(input("Enter second number:"))
Number3=int(input("Enter third number:"))
if Number1>Number2 and Number1>Number3:
  print(Number1,"is the largest number")
if Number2>Number1 and Number2>Number3:
  print(Number2,"is the largest number")
if Number3>Number1 and Number3>Number2:
  print(Number3,"is the largest number")

Enter first number:34
Enter second number:67
Enter third number:90
90 is the largest number

In [ ]:
Y2S2=[176,141,133,177]
print(max(Y2S2))
print(min(Y2S2))
sum(Y2S2)
avg=sum(Y2S2)/len(Y2S2)
print(avg)

177
133
156.75